import('deSolve')
import('nanotime')
import('onion')
importFrom('stats', 'integrate', 'splinefun')
importFrom('RcppParallel', 'RcppParallelLibs')
importFrom('utils', 'read.table', 'download.file', 'txtProgressBar', 'setTxtProgressBar')
importFrom('gsl', 'hyperg_2F1')
export('sgp4')
export('sdp4')
export('sgdp4')
export('hpop')
export('parseTLElines')
export('readTLE')
export('TEMEtoITRF')
export('ITRFtoLATLON')
export('TEMEtoLATLON')
export('GCRFtoITRF')
export('ITRFtoGCRF')
export('TEMEtoGCRF')
export('GCRFtoLATLON')
export('KOEtoECI')
export('ECItoKOE')
export('getLatestSpaceData')
export('readGLONASSNavigationRINEX')
export('readGPSNavigationRINEX')
export('LATLONtoITRF')
export('LATLONtoGCRF')
export('readOEM')
export('dateTimeToMJD')
export('JPLephemerides')
export('deg2rad')
export('rad2deg')
export('revDay2radMin')
export('calculateRazel')
export('readBinDAF')
export('readBinSPK')
export('lambert2')
useDynLib('asteRisk')
importFrom('Rcpp', 'sourceCpp')
